      header {position: fixed;}
.color{
  color:blue;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
  }
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}

body {
  text-align:center;
}

img.two {
  height: 50%;
  width: 50%;
}

.GWC
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.button {
  background-color: #B947FF; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {border-radius: 300px;}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A125FA;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #9B02ED;
}

.active {
  background-color: #B947FF;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #B947FF; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 300px;
}
